@charset "UTF-8";
@import url(./variaveis.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}


html,
body {
  min-width: 350px;
  font-family: var(--app-font-noto);
  background-color: var(--app-color-lightgray-tint);
  color: var(--app-color-secondary);
  text-align: center;
}